@font-face {
    font-family: Raleway;
    src: url(../webfonts/static/Raleway-Medium.ttf);
}
body {
    background-color: #fefffe;
    font-family: Raleway-Medium; 
    margin: 0;
}

.contenedor { /* div del usuario y la contraseña */
    width: 400px;
    padding: 15px;
}

#title { /* titulo */
    color: black;
    font-size: 40px;
    text-align: left;
    display: inline-flex;
    padding: 8px;
}

input[type="text"], /* estilo del email y la contraseña */ 
input[type="password"] {
    font-size: 15px;
    width: 65%;
    padding: 15px;
    border: none;
}

.input-user {
    margin-left: -20px;
}


.button { /*estilo de lo que esta en el ingresar */ 
    width: 30%;
    border: none;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
    color: #757575;
    background-color: #fff;
    cursor: pointer;
    font-size: 14px;
    line-height: 34px;
    transform: translate(70px, -12px);
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    transition: all;
}

.g-signin2{
    transform: translate(60px, 23px);
}

.link { /* register */
    text-align: center;
    text-decoration: none;
    color: blue;
    transition: 0.2s;
    cursor: pointer;
}

#boton{
    width: 30px;
    cursor: pointer;
}

@media(min-width:300px) /* le da el tamaño al formulario */
{
    .formulario {
        margin: auto;
        width: 400px;
        margin-top: 6%;
        text-align: center;
        border-color: blue;
    }
}