@font-face {
    font-family: Raleway;
    src: url(../webfonts/static/Raleway-Medium.ttf);
}
body {
    background-color: white;
    font-family: Raleway-Medium; 
    margin: 0;
}

.contenedor { /* div del usuario y la contraseña */
    width: 100%;
    padding: 15px;
}

h1 { /* titulo */
    color: black;
    font-size: 40px;
    text-shadow: black;
    text-align: center;
}

input[type="email"], /* estilo del email y la contraseña */ 
input[type="password"] {
    font-size: 15px;
    width: 75%;
    padding: 11px;
    border: none;
}

.input-contenedor { /* borde y estilo del usuario */
    margin-bottom: 15px;
    border: none;
}

.icon { /* estilo de los iconos */
    min-width: 40px;
    color: black;
}

.button { /*estilo de lo que esta en el ingresar */ 
    border: none;
    width: 50%;
    color: white;
    font-size: 20px;
    background-color: #6eb454;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer; 
    transition: 0.3s;
    margin-left: 30px;
}

.button:hover {
    background-color: royalblue;
}

p { /* texto de abajo del login */
    text-align: center;
} 

.link { /* register */
    text-decoration: none;
    color: blue;
    transition: 0.2s;
    cursor: pointer;
}

@media(min-width:340px) /* le da el tamaño al formulario */
{
    .formulario {
        margin: auto;
        width: 30%;
        margin-top: 10%;
        text-align: center;
    }
}